asgiref   ~=       3.9.1
certifi       ~=        2025.8.3
Django       ~=         5.2.6
django-scheduler  ~=    0.10.1
dnspython       ~=   2.7.0
elastic-transport ~=  8.17.1
elasticsearch  ~=    8.15.0
icalendar      ~=    6.3.1
kafka-python    ~=   2.2.15
numpy         ~=     2.3.2
pip            ~=    25.2
pydub        ~=      0.25.1
pymongo      ~=      4.14.1
python-dateutil ~=   2.9.0.post0
pytz           ~=    2025.2
schedule ~=          1.2.2
scipy ~=             1.16.1
six   ~=             1.17.0
SpeechRecognition ~= 3.14.3
sqlparse       ~=    0.5.3
tinytag    ~=        2.1.2
typing_extensions ~=  4.15.0
tzdata          ~=   2025.2
urllib3        ~=    2.5.0
urllib3        ~=    2.5.0